html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */
.flex{
    display:flex;
    height:98%;
}
.container{
    height: 100%;
}
.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
    color: white;
    width: 120px;
    background-color:black;
}

.btn{
    background-color: white;
    display: inline-block;
    height: 20px;
    padding: 7px;
    text-decoration: none;
    border-radius: 7px;
    transform: all 0,2s ease-in-out;

}
.btn:hover{
     color: white;
     background-color: #457b9d;
     box-shadow: 2px 2px 2px rgba(0, 0,0, 4);
     transform: scale(1.05);
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 20%;
    background-color: blue;
}

.main{
      height: 80%;
      background-color: #457b9d;
}

a{
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

